  <h1>版塊列表</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>版名</th>
        <th>建立時間</th>
        <th>最後更新</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <thead>

    <tbody>
      <% @boards.each do |board| %>
        <tr>
          <td><%= board.id %></td>
          <td><%= board.name %></td>
          <td><%= l(board.created_at, :format => :short) %></td>
          <td><%= l(board.updated_at, :format => :short) %></td>
          <td><%= link_to("檢視", board) %></td>
          <td><%= link_to("編輯", edit_admin_board_path(board)) %></td>
          <td><%= link_to("刪除", admin_boards_path, :method => :delete, :data => { :confirm => "確認要刪除嗎？" }) %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <hr />

  <%= will_paginate(@boards) %>

  <hr />

  <%= link_to("新增版塊", new_admin_board_path) %>