
  <h1>Forum</h1>

  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <thead>

    <tbody>
      <% @boards.each { |board| %>
        <tr>
          <td><%= board.name %></td>
          <td><%= link_to('Show', board)%></td>
          <td><%= link_to('Edit', edit_board_path(board))%></td>
          <td><%= link_to('Delete', board, method: :delete, data: { confirm: '確認要刪除嗎？'})%></td>
        </tr>
      <% } %>
    </tbody>

  </table>

  <br />

  <%= link_to('New Board', new_board_path)%>