<% if @post.errors.any? %>
  <h2>發生錯誤</h2>

  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<p><%= f.label :title, "文章標題" %><br />
<%= f.text_field :title %></p>

<p><%= f.label :content, "文章內容" %><br />
<%= f.text_area :content %></p>

<div class="field">
  <% if @post.image.file? %>
    <p><%= image_tag(@post.image.url(:thumb)) %></p>
  <% end %>

  <%= f.label :upload_image %><br />
  <%= f.file_field :image %>
</div>

<p><%= f.submit %></p>