<h1><%= @post.title %></h1>
<p><%= simple_format(@post.content) %></p>

<% if @post.excerpt_image.file? %>
  <p><%= image_tag(@post.excerpt_image.url(:show)) %></p>
<% end %>

<% if current_user && current_user.is_admin? %>
  <p><%= link_to("A-編輯文章", edit_board_post_path(@board, @post)) %></p>
<% end %>
<p><%= link_to("返回", board_posts_path(@board)) %></p>